<div class="movie">
  
  <img class="img-circle movie-grid" src="/images{{image}}" alt="{{title}}" />

  <h2>{{title}}</h2>
  <div><a href="{{url}}">Watch trailer</a></div>
  <div>Director: {{director}}</div>
  <div>Rating: {{rating}}</div>
  <div>Year: {{year}}</div>

  <div class="review-list">comments:
    {{#each comments}}<ul><li>{{review}}</li></ul>{{/each}}</div>

  <form class="form" action="/movies/{{title}}/addcomments" method="post">
    Add Review:
    <textarea type="text" name="comments" row="20" cols="30">


    </textarea>
    <input class="submit" type="submit" name="" value="Submit" />
    </label>
  </form>

  {{!-- <a href="/movies/{{title}}/edit"></a> --}}
</div>