<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{title}}" />
  <h2>{{title}}</h2>
  <div>Movie title: {{title}}</div>
  <div>Director: {{director}}</div>
  <form class="form" action="/movies/{{title}}/edit" method="post">
    review: 
    <textarea type = 'text' name='review' row = '4' cols = '50'>

    </textarea>
  <input type="submit" name="" value="Submit">
  </form>
  
  {{!-- <a href="/puppies/{{id}}/edit">Edit</a> --}}
</div>