<div class="movie">

  <img class="img-circle movie-grid" src="/images{{image}}" alt="{{title}}" />

  <h2>{{title}}</h2>
  <div><a href="{{urlplaceholder}}">Watch trailer</a></div>
  <div>Director: {{director}}</div>
  <div>Rating: {{rating}}</div>
  <div>Year: {{year}}</div>

  <div class="review-list">comments:
    <ul><li>{{#each comments}}{{test}}{{/each}}</li></ul></div>

  <form class="form" action="/movies/{{title}}/edit" method="post">
    Add Review:
    <textarea type="text" name="comments" row="20" cols="30">


    </textarea>
    <input type="submit" name="" value="Submit" />
    </label>
  </form>

  {{!-- <a href="/movies/{{title}}/edit"></a> --}}
</div>