<form class="form" action="/movies/{{title}}/edit" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
 
  <label for="comments" class="form-item">
    Comments:
    <input type="text" name="name" value="{{comments}}">
  </label>

  <input type="hidden" name="image" value="{{image}}">

  <input type="submit" name="" value="Submit">
</form>

<div class="movie">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div><a href="{{urlplaceholder}}">Watch trailer</a></div>
  <div>Director: {{director}}</div>
  <div>Rating: {{rating}}</div>
  <div>Year: {{year}}</div>
  <form><div>Comment: {{comments}}</div></form>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>