<div class="movie">
  <img class="img-circle" src="{{image}}" alt="{{title}}" />
  <h2>{{title}}</h2>
  <div><a href="{{urlplaceholder}}">Movies</a></div>
  <div>Director: {{director}}</div>
  <div>Rating: {{rating}}</div>
  <div>Year: {{year}}</div>

  <div>comments: {{#each comments}}<ul><li>{{testKey}}</li></ul>{{/each}}</div>

  <form class="form" action="/movies/{{title}}/edit" method="post">
    <label for="comments" class="form-item">
      review:
    <textarea type="text" name="comments" row="4" cols="50">

    </textarea>
    <input type="submit" name="" value="Submit" />
    </label>
  </form>

  {{!-- <a href="/movies/{{title}}/edit"></a> --}}
</div>