<div class="movie">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <h2>{{name}}</h2>
  <div><a href="{{urlplaceholder}}">Watch trailer</a></div>
  <div>Director: {{director}}</div>
  <div>Rating: {{rating}}</div>
  <div>Year: {{year}}</div>
  <div>Comment: {{comments}}</div>
  <a href="/puppies/{{id}}/edit">Edit</a>
</div>