<div class="movie">
  <img class="img-circle movie-grid" src="/images{{image}}" alt="{{name}}" />

  <h2>{{title}}</h2>
  <div><a href="{{url}}">Watch The Trailer</a></div>
  <br>
  <div>Director: {{director}}</div>
  <div>Rating: {{rating}}</div>
  <div>Year: {{year}}</div>
  <br>
  <div class="review-list">Review:
    {{#each comments}}<ul><li>{{review}}</li></ul>{{/each}}</div>
  <button class="button"><a
      class="sub-btn-movie button"
      href="/movies/{{title}}/addcomments"
    >add review</a></button>
</div>