<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{title}}" />
  <h2>{{title}}</h2>
  <div>Movie title: {{title}}</div>
  <div>Director: {{director}}</div>
  {{!-- <a href="/puppies/{{id}}/edit">Edit</a> --}}
</div>