<div class="puppy">
  <img class="img-circle" src="{{image}}" alt="{{title}}" />
  <h2>{{title}}</h2>
  <div>Movie title: {{title}}</div>
  <div>Director: {{director}}</div> 
  <div>review: {{review}}</div> 
  <a href="/movies/{{title}}/edit">Edit</a>
</div>